<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS Web Server</title>
  </head>
  <>
    <h3>Links</h3>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
    <h1>Hello World!</h1>
    <% const user = {
      name : 'Aldrin',
      age : 19,
      email : 'hikmahald@gmail.com'
    } %>
    <h2>Welcome, <%= user.name %></h2>
    <h2>age : <%= user.age %></h2>
    <h2>email : <%= user.email %></h2>
  </body>
</html>
