<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
    <h3>Links</h3>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
    <h1>Hello World!</h1>
    <h2>Display All Data : </h2>
   <ul>
    <% data.forEach(element => { %>
      <li>Name : <%= element.name  %></li>
      <li>Email : <%= element.email  %></li>
      <li>Age : <%= element.age  %></li>
    <% }) %>
   </ul>
  </body>
</html>
